<!--内容部分-->
<div class="m-warp-box">
    <div class="news-nav-wrap">
        <div class="container">
            <div class="row f-mtb15">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <h3 class="navbar-text">
                        新闻动态
                    </h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6  hidden-xs">
                    <login-reg>自定义指令登录注册</login-reg>
                </div>
            </div>
        </div>
    </div>
    <!--内容部分-->
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-10 col-sm-10">
                <ul class="new-list">
                    <li ng-click="jump('newsDetails')">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                                <div class="meta pull-left">
                                        <span class="date f-mt20 ">
                                            2017年2月27日
                                            <i>
                                            </i>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9">
                                <div class="contant">
                                    <h3 class="active-tt">
                                        <a href="JavaScript:;">
                                            互联网金融：烫手的牌照
                                        </a>
                                    </h3>
                                    <div class="f-mt10 f-mb20">
                                        分类
                                        <a href="#" rel="category" class="f-mlr5">
                                            新闻动态
                                        </a>
                                        标签
                                        <a href="#" rel="category" class="f-mlr5">
                                            互联网
                                        </a>
                                        ,
                                        <a href="#" rel="category" class="f-mlr5">
                                            金融
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <img src="images/img1.jpg" width="140" height="100" class="img-box" />
                                        </div>
                                        <div class="col-lg-9 col-md-8 col-sm-6">
                                            <p class="img-info">
                                                Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出
                                                – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 –
                                                样式编写
                                            </p>
                                        </div>
                                    </div>
                                    <div class="text-right read-more">
                                        <a href="#" rel="category">
                                            阅读更多»
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-click="jump('newsDetails')">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                                <div class="meta pull-left">
                                        <span class="date f-mt20">
                                            2017年2月27日
                                            <i>
                                            </i>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9">
                                <div class="contant">
                                    <h3 class="active-tt">
                                        <a href="#">
                                            首届移动互联网创业峰会聚焦移动支付
                                        </a>
                                    </h3>
                                    <div class="f-mt10 f-mb20">
                                        分类
                                        <a href="#" rel="category" class="f-mlr5">
                                            媒体报道
                                        </a>
                                        <a href="#" rel="category" class="f-mlr5">
                                            新闻动态
                                        </a>
                                        标签
                                        <a href="#" rel="category" class="f-mlr5">
                                            互联网
                                        </a>
                                        ,
                                        <a href="#" rel="category" class="f-mlr5">
                                            金融
                                        </a>
                                    </div>
                                    <div class="row">
                                        <p class="img-info">
                                            Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出
                                            – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 – 样式编写Rax深入浅出 –
                                            样式编写
                                        </p>
                                    </div>
                                    <div class="text-right read-more">
                                        <a href="#" rel="category">
                                            阅读更多»
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--分页-->
                <nav>
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#">
                                    <span>
                                        &laquo;
                                    </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                2
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                3
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                4
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                5
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                    <span>
                                        &raquo;
                                    </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--侧边栏-->
            <aside class=" hidden-xs col-lg-3 col-md-2 col-sm-2">
                <div class="m-article-list-box f-mb20 f-mt20 ">
                    <h4 class="u-tt">
                            <span>
                                最新文章
                            </span>
                    </h4>
                    <ul class="m-article-list f-mt20 clearfix">
                        <li class="col-lg-6 col-xs-12 col-md-12">
                            <div class="m-article-item ">
                                <a href="#" class="img-link" rel="category">
                                    <img src="images/artical_img3.jpg" width="120" height="80" />
                                </a>
                                <h4 class="text-center">
                                    <a href="#" title="食品的创意广告">
                                        食品的创意广告
                                    </a>
                                </h4>
                            </div>
                        </li>
                        <li class="col-lg-6  col-md-12 col-xs-12">
                            <div class="m-article-item ">
                                <a href="#" class="img-link" rel="category">
                                    <img src="images/artical_img3.jpg" width="120" height="80" />
                                </a>
                                <h4 class="text-center">
                                    <a href="#" title="食品的创意广告">
                                        食品的创意广告
                                    </a>
                                </h4>
                            </div>
                        </li>
                        <li class="col-lg-6 col-xs-12 col-md-12">
                            <div class="m-article-item">
                                <a href="#" class="img-link" rel="category">
                                    <img src="images/artical_img3.jpg" width="120" height="80" />
                                </a>
                                <h4 class="text-center">
                                    <a href="#" title="食品的创意广告">
                                        食品的创意广告
                                    </a>
                                </h4>
                            </div>
                        </li>
                        <li class="col-lg-6  col-md-12 col-xs-12">
                            <div class="m-article-item">
                                <a href="#" class="img-link" rel="category">
                                    <img src="images/artical_img3.jpg" width="120" height="80" />
                                </a>
                                <h4 class="text-center">
                                    <a href="#" title="食品的创意广告">
                                        食品的创意广告
                                    </a>
                                </h4>
                            </div>
                        </li>
                        <li class="col-lg-6  col-md-12 col-xs-12">
                            <div class="m-article-item">
                                <a href="#" class="img-link" rel="category">
                                    <img src="images/artical_img3.jpg" width="120" height="80" />
                                </a>
                                <h4 class="text-center">
                                    <a href="#" title="食品的创意广告">
                                        食品的创意广告
                                    </a>
                                </h4>
                            </div>
                        </li>
                        <li class="col-lg-6  col-md-12 col-xs-12">
                            <div class="m-article-item">
                                <a href="#" class="img-link" rel="category">
                                    <img src="images/artical_img3.jpg" width="120" height="80" />
                                </a>
                                <h4 class="text-center">
                                    <a href="#" title="食品的创意广告">
                                        食品的创意广告
                                    </a>
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slibar">
                    <div class="m-article-list-box f-mb20 ">
                        <h4 class="u-tt f-mt20">
                                <span>
                                    新闻动态
                                </span>
                        </h4>
                        <ul class="m-item f-mt10">
                            <li>
                                <a href="#" rel="category">
                                    互联网金融：烫手的牌照
                                </a>
                            </li>
                            <li>
                                <a href="#" rel="category">
                                    互联网金融：烫手的牌照
                                </a>
                            </li>
                            <li>
                                <a href="#" rel="category">
                                    互联网金融：烫手的牌照
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
